body {
    margin: 0;
    background-color: #f6f7f9;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.homepage-title {
    color: #153300;
    font-size: xx-large;
}

.small-page-title{
  color: #153300;
  background-color: #9ee86f;
  font-size: x-large;
  text-align: center;
  width: 50%;
  border-radius: 0.25rem;
  margin: 1rem 0rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9ee86f;
}

.h-logoname{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.h-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.gecko{
  color: #153300;  
  font-size: 2.5rem;
}

.h-button{
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.h-button:hover{
  background-color: #153300;
  color: #9ee86f;
}

.homepage-body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.card {
  border: 0.05rem solid #eee;
  background-color: #f8feff;
  box-shadow: 0.1rem 0.25rem 1rem rgba(0,0,0,.06);
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  max-height: 35rem;
}

.middle-page {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card-list {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.card-list-profile{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-profile {
  border: 0.05rem solid #eee;
  background-color: #f8feff;;
  box-shadow: 0.1rem 0.25rem 1rem rgba(0,0,0,.06);
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 2rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

h2 {
  margin-top: 0rem;
}

a.button, .pressed-button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  font-size: large;
  text-align: center;
  max-width: 4rem;
  border-radius: 3px;
  color: buttontext;
  background-color: #90ee90;
  color: #153300;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

a.red-button {
  background-color: #FF7F7F;
  max-width: 6rem;
}

.button-line {
  display: flex;
  justify-content: space-evenly;
}

.login-title {
  font-size: x-large;
}

.big-login-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 2rem;
}

.small-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #9ee86f;
}

.big-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #9ee86f;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #153300;
}

.big-login-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
}
.change-genre {
  display: flex;
  gap: 2rem;
}

.buttons-pages{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.pressed-button{
  background-color: #153300;
  color: #90ee90;
}